<!Doctype hmtl>
<html>
  <head>
    <title>Home Page</title>
  </head>
  <p>This is the Home page</p>
  <%= link_to 'About Page' ,about_path %><br><br>
  <%= image_tag('railsPic.png', :alt => 'rails picture')%>
</html>